aiocontextvars==0.2.2
anyio==3.5.0
asgiref==3.4.1
asyncpg==0.25.0
click==8.0.3
contextlib2==21.6.0
contextvars==2.4
databases==0.5.5
dataclasses==0.8
fastapi==0.73.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
pydantic==1.9.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.0.1
uvicorn==0.16.0
zipp==3.6.0
